[submodule "FactorioLoaderLib"]
	path = FactorioLoaderLib
	url = https://github.com/srjek/FactorioLoaderLib.git
[submodule "factorio-web-calc"]
	path = factorio-web-calc
	url = https://github.com/srjek/factorio-web-calc.git
